/* You can add global styles to this file, and also import other style files */

/* @import "~bootstrap/dist/css/bootstrap.css"; */

/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~material-design-icons/iconfont/material-icons.css';
/* body{
    margin:0px;
}
input.ng-invalid.ng-dirty{
    border: 1px solid #dc3545;
}
  .version-info {
    font-size: 8pt;
    float: right;
  } */

/* button */

a {
  cursor: pointer;
}

.pointer {
  cursor: pointer
}

.btn {
  padding: 3px 6px;
}

.btn .material-icons {
  display: flex
}
