/* You can add global styles to this file, and also import other style files */
// regular style toast
@import "~ngx-toastr/toastr.css";
/* @import "~bootstrap/dist/css/bootstrap.css"; */

// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '~@angular/material/prebuilt-themes/purple-green.css';
@import '~material-design-icons/iconfont/material-icons.css';
// @import '~@swimlane/ngx-datatable/release/index.css';
// @import '~@swimlane/ngx-datatable/release/themes/material.css';
// @import '~@swimlane/ngx-datatable/release/assets/icons.css';
// @import './theme';
/* body{
    margin:0px;
}
input.ng-invalid.ng-dirty{
    border: 1px solid #dc3545;
}
  .version-info {
    font-size: 8pt;
    float: right;
  } */

/* button */

a {
  cursor: pointer;
}

.flex-spacer {
  flex-grow: 1
}

// Table
.table {
  width: 100%
}

.table th.text-center button {
  margin: 0 auto;
}

@media (min-width: 768px) {
  th.w-1 {
    width: 1%;
  }
  th.w-2 {
    width: 2%;
  }
  th.w-3 {
    width: 3%;
  }
  th.w-4 {
    width: 4%;
  }
  th.w-5 {
    width: 5%;
  }
  th.w-6 {
    width: 6%;
  }
  th.w-7 {
    width: 7%;
  }
  th.w-8 {
    width: 8%;
  }
  th.w-9 {
    width: 9%;
  }
  th.w-10 {
    width: 10%;
  }
  th.w-15 {
    width: 15%;
  }
  th.w-20 {
    width: 20%;
  }
}

.pointer {
  cursor: pointer
}

.mat-column-select {
  overflow: initial;
}

.mat-checkbox-frame,
.mat-checkbox-background {
  border-radius: 0 !important;
}

button:focus {
  outline: initial !important
}

.mat-button {
  // padding: 3px 6px;
  border-radius: 0 !important;
  box-shadow: initial !important;
}

.mat-button .material-icons {
  display: flex
}
